header button#menu-trigger {
  position: relative;
  width: 30px;
  height: 30px;
  padding: 0;
  cursor: pointer;
  border: none;
  text-align: center;
  background-color: transparent;
  z-index: 2;
}

header button#menu-trigger:active, header button#menu-trigger:focus {
  outline: none;
}

header button#menu-trigger span {
  position: relative;
  display: block;
  width: 20px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header button#menu-trigger span:before, header button#menu-trigger span:after {
  position: absolute;
  display: inherit;
  content: '';
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header button#menu-trigger span, header button#menu-trigger span:before, header button#menu-trigger span:after {
  height: 3px;
  background-color: white;
  border-radius: 2px;
}

header button#menu-trigger span:before {
  width: 30px;
  top: -8px;
}

header button#menu-trigger span:after {
  width: 15px;
  bottom: -8px;
}

header button[data-state='open']#menu-trigger span {
  width: 0;
  background-color: transparent;
}

header button[data-state='open']#menu-trigger span:before {
  -webkit-transform: translateY(8px) rotate(45deg);
          transform: translateY(8px) rotate(45deg);
}

header button[data-state='open']#menu-trigger span:after {
  width: 30px;
  -webkit-transform: translateY(-8px) rotate(-45deg);
          transform: translateY(-8px) rotate(-45deg);
}

@media screen and (min-width: 768px) {
  header button#menu-trigger {
    display: none;
  }
}

main section#about-intro h2, main section#features-intro h2, main section#feature-heading h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  text-align: center;
  color: #607d8b;
  letter-spacing: 1px;
  line-height: 1.6;
}

main section#about-intro h2 span, main section#features-intro h2 span, main section#feature-heading h2 span {
  font-family: "Alef", sans-serif;
  font-weight: 700;
}

main section#about-intro h2 br.br-md, main section#features-intro h2 br.br-md, main section#feature-heading h2 br.br-md {
  display: none;
}

@media screen and (min-width: 768px) {
  main section#about-intro h2, main section#features-intro h2, main section#feature-heading h2 {
    font-size: 1.75em;
  }
  main section#about-intro h2 br.br-md, main section#features-intro h2 br.br-md, main section#feature-heading h2 br.br-md {
    display: block;
  }
}

@media screen and (min-width: 992px) {
  main section#about-intro h2, main section#features-intro h2, main section#feature-heading h2 {
    font-size: 1.9375em;
  }
}

main section#features-intro, main section.feature, main section#feature-heading {
  position: relative;
  padding-top: 6.6625em;
  padding-bottom: 4.5625em;
  background-color: #fcfdfc;
}

main section#features-intro div.feature-content-wrap, main section.feature div.feature-content-wrap, main section#feature-heading div.feature-content-wrap {
  margin-bottom: 6.5em;
  background-position: 0 0;
  background-repeat: no-repeat;
}

main section#features-intro div.feature-content-wrap h2.feature-heading, main section.feature div.feature-content-wrap h2.feature-heading, main section#feature-heading div.feature-content-wrap h2.feature-heading {
  margin-bottom: 1.375em;
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  color: #607d8b;
  text-transform: capitalize;
  text-align: center;
}

@media screen and (min-width: 768px) {
  main section#features-intro div.feature-content-wrap h2.feature-heading, main section.feature div.feature-content-wrap h2.feature-heading, main section#feature-heading div.feature-content-wrap h2.feature-heading {
    font-size: 1.75em;
    text-align: left;
  }
}

@media screen and (min-width: 992px) {
  main section#features-intro div.feature-content-wrap h2.feature-heading, main section.feature div.feature-content-wrap h2.feature-heading, main section#feature-heading div.feature-content-wrap h2.feature-heading {
    font-size: 1.875em;
  }
}

main section#features-intro div.feature-content-wrap p, main section.feature div.feature-content-wrap p, main section#feature-heading div.feature-content-wrap p {
  font-family: "Roboto", sans-serif;
  font-size: 1.125em;
  font-weight: 300;
  line-height: 2;
  text-align: center;
  letter-spacing: 1px;
  color: #b0bec5;
}

@media screen and (min-width: 768px) {
  main section#features-intro div.feature-content-wrap p, main section.feature div.feature-content-wrap p, main section#feature-heading div.feature-content-wrap p {
    font-size: 1.275em;
    text-align: left;
  }
}

main section#features-intro div.feature-content-wrap a, main section.feature div.feature-content-wrap a, main section#feature-heading div.feature-content-wrap a {
  position: relative;
  display: block;
  margin-top: 4.0625em;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #81d4fa;
  letter-spacing: 1px;
  font-family: "Roboto", sans-serif;
  font-size: 0.6875em;
  font-weight: normal;
}

main section#features-intro div.feature-content-wrap a img, main section.feature div.feature-content-wrap a img, main section#feature-heading div.feature-content-wrap a img {
  margin-right: 1em;
}

@media screen and (min-width: 768px) {
  main section#features-intro div.feature-content-wrap a, main section.feature div.feature-content-wrap a, main section#feature-heading div.feature-content-wrap a {
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  main section#features-intro div.feature-content-wrap, main section.feature div.feature-content-wrap, main section#feature-heading div.feature-content-wrap {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

main section#features-intro div#feature-1, main section.feature div#feature-1, main section#feature-heading div#feature-1 {
  background-image: url("../../img/lock-icon.svg");
}

main section#features-intro div#feature-2, main section.feature div#feature-2, main section#feature-heading div#feature-2 {
  background-image: url("../../img/group_icon.svg");
}

main section#features-intro figure, main section.feature figure, main section#feature-heading figure {
  text-align: center;
  margin: unset;
}

main section#features-intro figure img, main section.feature figure img, main section#feature-heading figure img {
  width: 12.5em;
}

@media screen and (min-width: 768px) {
  main section#features-intro figure, main section.feature figure, main section#feature-heading figure {
    text-align: left;
  }
  main section#features-intro figure img, main section.feature figure img, main section#feature-heading figure img {
    width: 15.625em;
  }
}

@media screen and (min-width: 768px) {
  main section#features-intro figure img, main section.feature figure img, main section#feature-heading figure img {
    width: 15.625em;
  }
}

@media screen and (min-width: 992px) {
  main section#features-intro figure img, main section.feature figure img, main section#feature-heading figure img {
    width: 18.5625em;
  }
}

body,
html {
  width: 100%;
  height: 100%;
}

header {
  height: 53.0625em;
  padding-top: 30px;
  background-image: linear-gradient(45deg, rgba(108, 246, 218, 0.75), #176da0), url("../img/header_bg.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  background-position: 0 0, -400px 0;
}

header a#logo {
  position: relative;
  left: 0;
}

header nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  text-align: center;
  background-image: linear-gradient(-45deg, #185A9D 0%, #43CEA2 100%);
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

header nav a {
  display: block;
  margin-bottom: 2.4875em;
  color: white;
  text-transform: capitalize;
  text-decoration: none;
  letter-spacing: 1px;
  font-family: "Roboto", sans-serif;
  font-size: 1.2625em;
  font-weight: 500;
}

header nav a.animated.zoomIn {
  -webkit-animation-name: zoomIn;
          animation-name: zoomIn;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

header nav a.animated.zoomOut {
  -webkit-animation-name: zoomIn;
          animation-name: zoomIn;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
}

@media screen and (min-width: 768px) {
  header nav a {
    display: inline-block;
    margin-right: 3.75em;
    margin-bottom: 0;
    font-size: 0.9375em;
    color: rgba(236, 239, 241, 0.9);
    text-transform: uppercase;
  }
}

header nav hr {
  width: 9em;
  margin-top: -1em;
  margin-bottom: 2em;
  border: 1px solid rgba(255, 255, 255, 0.15);
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}

header nav div#menu-logo h4 {
  margin-top: 1em;
  font-family: "Alef", sans-serif;
  font-size: 1em;
  font-weight: 700;
  color: white;
  text-transform: capitalize;
}

header nav div#menu-logo.animated.zoomIn {
  -webkit-animation-name: zoomIn;
          animation-name: zoomIn;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

header nav div#menu-logo.animated.zoomOut {
  -webkit-animation-name: zoomIn;
          animation-name: zoomIn;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
}

header nav .desktop-nav-link {
  display: none;
}

@media screen and (min-width: 768px) {
  header nav {
    position: relative;
    top: unset;
    width: unset;
    height: unset;
    padding-top: unset;
    opacity: 1;
    background-image: unset;
  }
  header nav .mobile-nav-link {
    display: none;
  }
  header nav .desktop-nav-link {
    display: inline-block;
    margin-right: 1.5em;
  }
}

header div#hero-content h1#hero-heading {
  margin-top: 2.375em;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.875em;
  text-align: center;
  color: rgba(236, 239, 241, 0.9);
  line-height: 1.7;
  letter-spacing: 1.5px;
}

@media screen and (min-width: 768px) {
  header div#hero-content h1#hero-heading {
    font-size: 1.863em;
    text-align: left;
  }
}

@media screen and (min-width: 992px) {
  header div#hero-content h1#hero-heading {
    font-size: 2.563em;
  }
}

header div#hero-content span.logo-name {
  font-family: "Alef", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
}

header div#hero-content p {
  color: rgba(236, 239, 241, 0.7);
  margin-top: 3em;
  text-align: center;
}

@media screen and (min-width: 768px) {
  header div#hero-content p {
    text-align: left;
  }
}

header div#hero-content a#app-store-badge {
  margin-top: 2em;
  display: block;
  text-align: center;
}

header div#hero-content a#app-store-badge img {
  width: 9em;
}

@media screen and (min-width: 768px) {
  header div#hero-content a#app-store-badge {
    text-align: left;
  }
  header div#hero-content a#app-store-badge img {
    width: 10em;
  }
}

@media screen and (min-width: 768px) {
  header div#hero-content {
    margin-top: 5.5em;
  }
}

@media screen and (min-width: 992px) {
  header div#hero-content {
    margin-top: 9em;
  }
}

header figure#splsh-screen-figure {
  margin: unset;
  margin-top: 7.7em;
  text-align: center;
}

header figure#splsh-screen-figure img {
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  header figure#splsh-screen-figure {
    margin-top: 8.5em;
  }
  header figure#splsh-screen-figure img {
    max-width: unset;
    height: unset;
    width: 28.8em;
    margin-left: -6.3em;
  }
}

@media screen and (min-width: 992px) {
  header figure#splsh-screen-figure {
    margin-top: 13.7em;
  }
  header figure#splsh-screen-figure img {
    width: 34em;
  }
}

@media screen and (min-width: 768px) {
  header {
    height: 37.4625em;
    background-position: 0 0, 0 0;
  }
}

@media screen and (min-width: 992px) {
  header {
    height: 100%;
  }
}

main section#about-intro {
  padding-top: 15em;
  padding-bottom: 8.5625em;
  background-image: url("../img/emoji_background_detail.png");
  background-position: 0 0;
  background-repeat: repeat;
}

@media screen and (min-width: 768px) {
  main section#features-intro h2 {
    text-align: left;
    line-height: 1.8;
  }
}

@media screen and (min-width: 768px) {
  main section#feature-heading h2 {
    line-height: 1.8;
  }
}
