header button#menu-trigger {
  position: relative;
  width: 30px;
  height: 30px;
  padding: 0;
  cursor: pointer;
  border: none;
  text-align: center;
  background-color: transparent;
  z-index: 2;
}

header button#menu-trigger:active, header button#menu-trigger:focus {
  outline: none;
}

header button#menu-trigger span {
  position: relative;
  display: block;
  width: 20px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header button#menu-trigger span:before, header button#menu-trigger span:after {
  position: absolute;
  display: inherit;
  content: '';
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header button#menu-trigger span, header button#menu-trigger span:before, header button#menu-trigger span:after {
  height: 3px;
  background-color: white;
  border-radius: 2px;
}

header button#menu-trigger span:before {
  width: 30px;
  top: -8px;
}

header button#menu-trigger span:after {
  width: 15px;
  bottom: -8px;
}

header button#menu-trigger[data-state='open'] span {
  width: 0;
  background-color: transparent;
}

header button#menu-trigger[data-state='open'] span:before {
  -webkit-transform: translateY(8px) rotate(45deg);
          transform: translateY(8px) rotate(45deg);
}

header button#menu-trigger[data-state='open'] span:after {
  width: 30px;
  -webkit-transform: translateY(-8px) rotate(-45deg);
          transform: translateY(-8px) rotate(-45deg);
}

@media screen and (min-width: 768px) {
  header button#menu-trigger {
    display: none;
  }
}

main section#about-intro h2, main section#features-intro h2, main section#feature-heading h2, main section#app-reviews h2, main section#app-download div#download-btn-wrap h1 {
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  text-align: center;
  color: #607d8b;
  letter-spacing: 1px;
  line-height: 1.6;
}

main section#about-intro h2 span, main section#features-intro h2 span, main section#feature-heading h2 span, main section#app-reviews h2 span, main section#app-download div#download-btn-wrap h1 span {
  font-family: "Alef", sans-serif;
  font-weight: 700;
}

main section#about-intro h2 br.br-md, main section#features-intro h2 br.br-md, main section#feature-heading h2 br.br-md, main section#app-reviews h2 br.br-md, main section#app-download div#download-btn-wrap h1 br.br-md {
  display: none;
}

@media screen and (min-width: 768px) {
  main section#about-intro h2, main section#features-intro h2, main section#feature-heading h2, main section#app-reviews h2, main section#app-download div#download-btn-wrap h1 {
    font-size: 1.75em;
  }
  main section#about-intro h2 br.br-md, main section#features-intro h2 br.br-md, main section#feature-heading h2 br.br-md, main section#app-reviews h2 br.br-md, main section#app-download div#download-btn-wrap h1 br.br-md {
    display: block;
  }
}

@media screen and (min-width: 992px) {
  main section#about-intro h2, main section#features-intro h2, main section#feature-heading h2, main section#app-reviews h2, main section#app-download div#download-btn-wrap h1 {
    font-size: 1.9375em;
  }
}

main section#features-intro, main section.feature, main section#feature-heading {
  position: relative;
  padding-top: 6.6625em;
  padding-bottom: 4.5625em;
  background-color: #fcfdfc;
}

main section#features-intro div.feature-content-wrap, main section.feature div.feature-content-wrap, main section#feature-heading div.feature-content-wrap {
  margin-bottom: 6.5em;
  background-position: 0 0;
  background-repeat: no-repeat;
}

main section#features-intro div.feature-content-wrap h2.feature-heading, main section.feature div.feature-content-wrap h2.feature-heading, main section#feature-heading div.feature-content-wrap h2.feature-heading {
  margin-bottom: 1.375em;
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  color: #607d8b;
  text-transform: capitalize;
  text-align: center;
}

@media screen and (min-width: 768px) {
  main section#features-intro div.feature-content-wrap h2.feature-heading, main section.feature div.feature-content-wrap h2.feature-heading, main section#feature-heading div.feature-content-wrap h2.feature-heading {
    font-size: 1.75em;
    text-align: left;
  }
}

@media screen and (min-width: 992px) {
  main section#features-intro div.feature-content-wrap h2.feature-heading, main section.feature div.feature-content-wrap h2.feature-heading, main section#feature-heading div.feature-content-wrap h2.feature-heading {
    font-size: 1.875em;
  }
}

main section#features-intro div.feature-content-wrap p, main section.feature div.feature-content-wrap p, main section#feature-heading div.feature-content-wrap p {
  font-family: "Roboto", sans-serif;
  font-size: 1.125em;
  font-weight: 300;
  line-height: 2;
  text-align: center;
  letter-spacing: 1px;
  color: #b0bec5;
}

@media screen and (min-width: 768px) {
  main section#features-intro div.feature-content-wrap p, main section.feature div.feature-content-wrap p, main section#feature-heading div.feature-content-wrap p {
    font-size: 1.275em;
    text-align: left;
  }
}

main section#features-intro div.feature-content-wrap a, main section.feature div.feature-content-wrap a, main section#feature-heading div.feature-content-wrap a {
  position: relative;
  display: block;
  margin-top: 4.0625em;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #81d4fa;
  letter-spacing: 1px;
  font-family: "Roboto", sans-serif;
  font-size: 0.6875em;
  font-weight: normal;
}

main section#features-intro div.feature-content-wrap a img, main section.feature div.feature-content-wrap a img, main section#feature-heading div.feature-content-wrap a img {
  margin-right: 1em;
}

@media screen and (min-width: 768px) {
  main section#features-intro div.feature-content-wrap a, main section.feature div.feature-content-wrap a, main section#feature-heading div.feature-content-wrap a {
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  main section#features-intro div.feature-content-wrap, main section.feature div.feature-content-wrap, main section#feature-heading div.feature-content-wrap {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

main section#features-intro div#feature-1, main section.feature div#feature-1, main section#feature-heading div#feature-1 {
  background-image: url("../img/lock-icon.svg");
}

main section#features-intro div#feature-2, main section.feature div#feature-2, main section#feature-heading div#feature-2 {
  background-image: url("../img/group_icon.svg");
}

main section#features-intro figure, main section.feature figure, main section#feature-heading figure {
  text-align: center;
  margin: unset;
}

main section#features-intro figure img, main section.feature figure img, main section#feature-heading figure img {
  width: 12.5em;
}

@media screen and (min-width: 768px) {
  main section#features-intro figure, main section.feature figure, main section#feature-heading figure {
    text-align: left;
  }
  main section#features-intro figure img, main section.feature figure img, main section#feature-heading figure img {
    width: 15.625em;
  }
}

@media screen and (min-width: 768px) {
  main section#features-intro figure img, main section.feature figure img, main section#feature-heading figure img {
    width: 15.625em;
  }
}

@media screen and (min-width: 992px) {
  main section#features-intro figure img, main section.feature figure img, main section#feature-heading figure img {
    width: 18.5625em;
  }
}

body,
html {
  width: 100%;
  height: 100%;
  background-color: #fcfdfc;
}

header {
  height: 53.0625em;
  padding-top: 30px;
  background-image: linear-gradient(45deg, rgba(108, 246, 218, 0.75), #176da0), url("../img/header_bg.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  background-position: 0 0, -400px 0;
}

header a#logo {
  position: relative;
  left: 0;
}

header nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  text-align: center;
  background-image: linear-gradient(-45deg, #185A9D 0%, #43CEA2 100%);
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

header nav a {
  display: block;
  margin-bottom: 2.4875em;
  color: white;
  text-transform: capitalize;
  text-decoration: none;
  letter-spacing: 1px;
  font-family: "Roboto", sans-serif;
  font-size: 1.2625em;
  font-weight: 500;
}

header nav a.animated.zoomIn {
  -webkit-animation-name: zoomIn;
          animation-name: zoomIn;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

header nav a.animated.zoomOut {
  -webkit-animation-name: zoomIn;
          animation-name: zoomIn;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
}

@media screen and (min-width: 768px) {
  header nav a {
    display: inline-block;
    margin-right: 3.75em;
    margin-bottom: 0;
    font-size: 0.9375em;
    color: rgba(236, 239, 241, 0.9);
    text-transform: uppercase;
  }
  header nav a:hover {
    text-decoration: none;
    color: white;
  }
}

header nav hr {
  width: 9em;
  margin-top: -1em;
  margin-bottom: 2em;
  border: 1px solid rgba(255, 255, 255, 0.15);
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}

header nav div#menu-logo h4 {
  margin-top: 1em;
  font-family: "Alef", sans-serif;
  font-size: 1em;
  font-weight: 700;
  color: white;
  text-transform: capitalize;
}

header nav div#menu-logo.animated.zoomIn {
  -webkit-animation-name: zoomIn;
          animation-name: zoomIn;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

header nav div#menu-logo.animated.zoomOut {
  -webkit-animation-name: zoomIn;
          animation-name: zoomIn;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
}

header nav .desktop-nav-link {
  display: none;
}

@media screen and (min-width: 768px) {
  header nav {
    position: relative;
    top: unset;
    width: unset;
    height: unset;
    padding-top: unset;
    opacity: 1;
    background-image: unset;
  }
  header nav .mobile-nav-link {
    display: none;
  }
  header nav .desktop-nav-link {
    display: inline-block;
    width: 1.675em;
    height: 1.675em;
    margin-right: 1.5em;
    background-color: rgba(236, 239, 241, 0.15);
    text-align: center;
    border-radius: 50%;
  }
  header nav .desktop-nav-link svg {
    vertical-align: middle;
  }
}

header div#hero-content {
  text-align: center;
}

header div#hero-content h1#hero-heading {
  margin-top: 2.375em;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.875em;
  color: rgba(236, 239, 241, 0.9);
  line-height: 1.7;
  letter-spacing: 1.5px;
}

@media screen and (min-width: 768px) {
  header div#hero-content h1#hero-heading {
    font-size: 1.863em;
    text-align: left;
  }
}

@media screen and (min-width: 992px) {
  header div#hero-content h1#hero-heading {
    font-size: 2.563em;
  }
}

header div#hero-content span.logo-name {
  font-family: "Alef", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
}

header div#hero-content p {
  color: rgba(236, 239, 241, 0.7);
  margin-top: 3em;
}

@media screen and (min-width: 768px) {
  header div#hero-content p {
    text-align: left;
  }
}

header div#hero-content a#app-store-badge {
  position: relative;
  margin-top: 2em;
  display: inline-block;
  z-index: 1;
}

header div#hero-content a#app-store-badge img {
  width: 9em;
}

@media screen and (min-width: 768px) {
  header div#hero-content a#app-store-badge {
    text-align: left;
  }
  header div#hero-content a#app-store-badge img {
    width: 10em;
  }
}

header div#hero-content a#app-store-badge:after {
  position: absolute;
  display: block;
  top: 0;
  left: 2%;
  content: '';
  width: 96%;
  height: 100%;
  border-radius: 15px;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  z-index: -1;
}

header div#hero-content a#app-store-badge:hover:after {
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
          box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

@media screen and (min-width: 768px) {
  header div#hero-content {
    margin-top: 5.5em;
    text-align: left;
  }
}

@media screen and (min-width: 992px) {
  header div#hero-content {
    margin-top: 9em;
  }
}

header figure#splsh-screen-figure {
  margin: unset;
  margin-top: 7.7em;
  text-align: center;
}

header figure#splsh-screen-figure img {
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  header figure#splsh-screen-figure {
    margin-top: 8.5em;
  }
  header figure#splsh-screen-figure img {
    max-width: unset;
    height: unset;
    width: 28.8em;
    margin-left: -6.3em;
  }
}

@media screen and (min-width: 992px) {
  header figure#splsh-screen-figure {
    margin-top: 13.7em;
  }
  header figure#splsh-screen-figure img {
    width: 34em;
  }
}

@media screen and (min-width: 768px) {
  header {
    height: 37.4625em;
    background-position: 0 0, 0 0;
  }
}

@media screen and (min-width: 992px) {
  header {
    height: 100%;
  }
}

@media screen and (min-width: 1200px) {
  header {
    height: 48em;
  }
}

main section#about-intro {
  padding-top: 15em;
  padding-bottom: 8.5625em;
  background-color: white;
  background-image: url("../img/emoji_background_detail.png");
  background-position: 0 0;
  background-repeat: repeat;
}

@media screen and (min-width: 768px) {
  main section#features-intro h2 {
    text-align: left;
    line-height: 1.8;
  }
}

@media screen and (min-width: 768px) {
  main section#feature-heading h2 {
    line-height: 1.8;
  }
}

main section#app-reviews {
  position: relative;
  padding-top: 6.6625em;
  padding-bottom: 4.5625em;
  margin-top: 2.6625em;
  background-image: linear-gradient(-45deg, #185A9D 0%, #43CEA2 100%);
}

main section#app-reviews h2 {
  color: rgba(236, 239, 241, 0.9);
  padding-bottom: 2.3625em;
}

main section#app-reviews div#user-reviews {
  padding: 2em 0;
  white-space: nowrap;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main section#app-reviews div#user-reviews div.user-review {
  width: 100%;
  display: inline-block;
}

main section#app-reviews div#user-reviews div.user-review div.profile-picture {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 6.1375em;
  height: 6.1375em;
  margin-right: 2.125em;
  border-radius: 50%;
  z-index: 1;
  background-image: url("../img/profile_pic_1.jpg");
  background-position: 0 0;
  background-size: cover;
}

main section#app-reviews div#user-reviews div.user-review div.profile-picture:before, main section#app-reviews div#user-reviews div.user-review div.profile-picture:after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.25;
  border-radius: 50%;
  background: rgba(76, 175, 80, 0.5);
}

main section#app-reviews div#user-reviews div.user-review div.profile-picture:before {
  background-image: linear-gradient(-135deg, rgba(108, 246, 218, 0.75) 0%, #176DA0 100%);
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  z-index: -1;
}

main section#app-reviews div#user-reviews div.user-review div.profile-picture:after {
  background-image: linear-gradient(-135deg, rgba(108, 246, 218, 0.75) 0%, #176DA0 100%);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  z-index: 0;
}

main section#app-reviews div#user-reviews div.user-review div.user-info-wrap {
  display: inline-block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  vertical-align: top;
  text-align: center;
}

main section#app-reviews div#user-reviews div.user-review div.user-info-wrap h3 {
  margin-bottom: 0.6875em;
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  color: rgba(236, 239, 241, 0.9);
}

main section#app-reviews div#user-reviews div.user-review div.user-info-wrap a {
  position: relative;
  display: inline-block;
  width: 1.675em;
  height: 1.675em;
  color: rgba(255, 255, 255, 0.67);
  background-color: rgba(236, 239, 241, 0.15);
  text-align: center;
  border-radius: 50%;
}

main section#app-reviews div#user-reviews div.user-review div.user-info-wrap a:nth-child(-n+3) {
  margin-right: 0.6em;
}

main section#app-reviews div#user-reviews div.user-review div.user-info-wrap a svg {
  vertical-align: middle;
}

@media screen and (min-width: 768px) {
  main section#app-reviews div#user-reviews div.user-review div.user-info-wrap {
    display: block;
    position: relative;
    margin-top: 2em;
    top: unset;
    -webkit-transform: none;
            transform: none;
    vertical-align: unset;
    text-align: unset;
  }
}

main section#app-reviews div#user-reviews div.user-review div.review-wrap {
  margin-top: 3.95em;
}

main section#app-reviews div#user-reviews div.user-review div.review-wrap p {
  position: relative;
  padding: 1.5625em;
  white-space: normal;
  font-family: "Roboto", sans-serif;
  font-size: 1.125em;
  font-weight: 300;
  background-color: rgba(236, 239, 241, 0.15);
  color: rgba(236, 239, 241, 0.9);
}

main section#app-reviews div#user-reviews div.user-review div.review-wrap p:before {
  position: absolute;
  display: block;
  content: '';
  top: -1.25em;
  left: 0.25em;
  width: 5.4375em;
  height: 4.8125em;
  background-image: url("../img/quote_icon.svg");
  background-size: contain;
  background-position: 0 0;
  background-repeat: no-repeat;
}

main section#app-reviews div#user-reviews div.user-review div.review-wrap p br.br-md {
  display: none;
}

@media screen and (min-width: 768px) {
  main section#app-reviews div#user-reviews div.user-review div.review-wrap p:before {
    left: -0.95em;
  }
  main section#app-reviews div#user-reviews div.user-review div.review-wrap p br.br-md {
    display: block;
  }
}

@media screen and (min-width: 992px) {
  main section#app-reviews div#user-reviews div.user-review div.review-wrap p {
    font-size: 1.275em;
  }
  main section#app-reviews div#user-reviews div.user-review div.review-wrap p br.br-md {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  main section#app-reviews div#user-reviews div.user-review div.review-wrap {
    margin-top: 2.15em;
  }
}

main section#app-reviews div#nav-wrapper {
  text-align: right;
  margin-top: 2.625em;
}

main section#app-reviews div#nav-wrapper a {
  font-size: 1.725em;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

main section#app-reviews div#nav-wrapper a:nth-child(1) {
  margin-right: 2.3125em;
}

main section#app-reviews div#nav-wrapper a.inactive {
  opacity: 0.5;
  color: rgba(0, 0, 0, 0.35);
}

main section#app-reviews div#nav-wrapper a.active {
  opacity: 0.5;
  color: white;
}

main section#app-download {
  position: relative;
  padding-top: 7.5em;
  padding-bottom: 7.5em;
  background-color: white;
}

main section#app-download:before {
  position: absolute;
  display: block;
  width: 100%;
  height: 22.3333em;
  top: 11.25em;
  left: 0;
  content: '';
  background-image: url(../img/emoji_background_detail.png);
}

main section#app-download div#download-btn-wrap {
  text-align: center;
}

main section#app-download div#download-btn-wrap h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.9375em;
  text-transform: capitalize;
}

main section#app-download div#download-btn-wrap p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.125em;
  color: #607d8b;
  letter-spacing: 0.68px;
  text-align: center;
}

main section#app-download div#download-btn-wrap a {
  position: relative;
  margin-top: 4em;
  display: inline-block;
  z-index: 1;
}

main section#app-download div#download-btn-wrap a img {
  width: 9.5em;
}

main section#app-download div#download-btn-wrap a:after {
  position: absolute;
  display: block;
  top: 0;
  left: 2%;
  content: '';
  width: 96%;
  height: 100%;
  border-radius: 15px;
  background-color: #53c2c2;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  z-index: -1;
}

main section#app-download div#download-btn-wrap a:hover:after {
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
          box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

@media screen and (min-width: 768px) {
  main section#app-download div#download-btn-wrap {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    text-align: left;
  }
  main section#app-download div#download-btn-wrap h1, main section#app-download div#download-btn-wrap p {
    text-align: left;
  }
}

@media screen and (min-width: 992px) {
  main section#app-download div#download-btn-wrap h1 {
    font-size: 2.563em;
  }
  main section#app-download div#download-btn-wrap p {
    font-size: 1.275em;
  }
  main section#app-download div#download-btn-wrap a img {
    width: 10em;
  }
}

main section#app-download figure {
  margin: unset;
}

main section#app-download figure img {
  margin-top: 6.25em;
  width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  main section#app-download figure img {
    margin-top: unset;
  }
}

@media screen and (min-width: 768px) {
  main section#app-download:before {
    height: 14.5333em;
    top: 10.15em;
  }
}

@media screen and (min-width: 992px) {
  main section#app-download:before {
    height: 17.7333em;
    top: 14.75em;
  }
}

footer {
  margin: 4.25em 0;
  text-align: center;
}

footer a img {
  width: 3.5em;
}

footer p {
  margin-top: 1.5625em;
  color: #607d8b;
}

footer p span.logo-name {
  font-family: "Alef", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
}

@media screen and (min-width: 768px) {
  footer p {
    display: inline-block;
    margin-left: 1em;
    margin-top: unset;
  }
}

footer nav {
  margin-bottom: 2.125em;
}

footer nav a {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 0.825em;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  color: #607d8b;
  letter-spacing: 0.5px;
}

footer nav a:hover {
  text-decoration: none;
}

footer nav a:first-child {
  margin-right: 1.56875em;
}

@media screen and (min-width: 768px) {
  footer nav a {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  footer nav a {
    display: inline-block;
  }
}

footer nav a:hover {
  text-decoration: none;
  color: #607d8b;
}

footer nav ul {
  display: none;
}

footer nav ul li {
  display: inline-block;
  list-style-type: none;
}

footer nav ul li a {
  display: inline-block;
  width: 1.975em;
  height: 1.975em;
  margin-right: 1.5em;
  padding-top: 4px;
  background-color: #75e5e0;
  text-align: center;
  border-radius: 50%;
  color: white;
}

footer nav ul li a:hover {
  color: white;
}

@media screen and (min-width: 768px) {
  footer nav ul {
    display: inline-block;
  }
}

@media screen and (min-width: 768px) {
  footer nav {
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
    margin-bottom: unset;
  }
}

@media screen and (min-width: 768px) {
  footer {
    margin: 2.45em 0;
    text-align: unset;
  }
  footer div.row {
    -webkit-box-pack: justify !important;
    -ms-flex-pack: justify !important;
        justify-content: space-between !important;
  }
}
