 @import "./utilities/_variables";
 @import "./utilities/_menu-trigger";
 @import "./utilities/_common";

 body,
 html {
     width           : 100%;
     height          : 100%;
     background-color: $snow-drift;
 }

 header {
     height     : 53.0625em;
     padding-top: 30px;
     background : {
        image   : linear-gradient(45deg, rgba(108,246,218,0.75), rgba(23, 109, 160, 1)), url('../img/header_bg.jpg');
        repeat  : no-repeat, no-repeat;
        size    : cover, cover;
        position: 0 0, -400px 0;

     }

     a#logo {
         position  : relative;
         left      : 0;
     }

     button#menu-trigger {
         @extend %menu-trigger;
     }

     nav {
        position        : absolute;
        top             : 0;
        left            : 0;
        width           : 100%;
        height          : 100%;
        padding-top     : 100px;
        text-align      : center;
        background: {
            image : linear-gradient(-45deg, #185A9D 0%, #43CEA2 100%);
        }
        opacity         : 0;
        transition: all 0.4s ease-in-out;
        a {
            display        : block;
            margin-bottom  : 2.4875em;
            color          : $white;
            text-transform : capitalize;
            text-decoration: none;
            letter-spacing : 1px;
            font: {
                family: $roboto;
                size  : 1.2625em;
                weight: $weight-medium;
            }
            &.animated.zoomIn {
                animation-name    : zoomIn;
                animation-duration: 0.5s;
            }
            &.animated.zoomOut {
                animation-name    : zoomIn;
                animation-duration: 0.2s;
            }
            @media screen and (min-width: 768px) {
                display       : inline-block;
                margin-right  : 3.75em;
                margin-bottom : 0;
                font-size     : 0.9375em;
                color         : $gray;
                text-transform: uppercase;
            }
        }
        hr {
            width        : 9em;
            margin-top   : -1em;
            margin-bottom: 2em;
            border       : 1px solid rgba(255, 255, 255, 0.15);
            transition   : width 0.5s ease-in-out;
        }
        div#menu-logo {
            h4 {
                margin-top: 1em;
                font: {
                    family: $alef;
                    size  : 1em;
                    weight: $weight-bold;
                }
                color         : $white;
                text-transform: capitalize;
            }
            &.animated.zoomIn {
                animation-name    : zoomIn;
                animation-duration: 0.5s;
            }
            &.animated.zoomOut {
                animation-name    : zoomIn;
                animation-duration: 0.2s;
            }
        }

        .desktop-nav-link {
            display: none;
        }
        @media screen and (min-width: 768px) {
            position   : relative;
            top        : unset;
            width      : unset;
            height     : unset;
            padding-top: unset;
            opacity    : 1;
            background : {
                image : unset;
            }
            .mobile-nav-link {
                display: none;
            }
            .desktop-nav-link {
                display         : inline-block;
                width           : 1.675em;
                height          : 1.675em;
                margin-right    : 1.5em;
                background-color: rgba(236, 239, 241, 0.15);
                text-align      : center;
                border-radius   : 50%;
                svg {
                    vertical-align: middle;
                }
            }
        }
     }

     div#hero-content {
         h1#hero-heading {
             margin-top:  2.375em;
             font : {
                 family: $roboto;
                 weight: $weight-light;
                 size  : $font-xm-large;
             }
             text-align    : center;
             color         : $gray;
             line-height   : 1.7;
             letter-spacing: 1.5px;
             @media screen and (min-width: 768px) {
                 font : {
                     size: $font-sm-large;
                 }
                 text-align: left;
             }
             @media screen and (min-width: 992px) {
                 font : {
                     size: $font-lg-large;
                 }
             }
         }

         span.logo-name {
             font: {
                 family: $alef;
                 weight: $weight-bold;
             }
             text-transform: capitalize;
         }

         p {
             color     : rgba(236, 239, 241, 0.7);;
             margin-top: 3em;
             text-align: center;
             @media screen and (min-width: 768px) {
                 text-align: left;
             }
         }

         a#app-store-badge {
             margin-top: 2em;
             display   : block;
             text-align: center;
             img {
                 width: 9em;
             }
             @media screen and (min-width: 768px){
                 text-align: left;
                 img {
                     width: 10em;
                 }
             }
         }
         @media screen and (min-width: 768px) {
            margin-top: 5.5em;
         }
         @media screen and (min-width: 992px) {
             margin-top: 9em;
         }
     }


     figure#splsh-screen-figure {
         margin    : unset;
         margin-top: 7.7em;
         text-align: center;
         img {
            max-width: 100%;
            height   : auto;
         }
         @media screen and (min-width: 768px) {
            margin-top: 8.5em;
            img {
                max-width  : unset;
                height     : unset;
                width      : 28.8em;
                margin-left: -6.3em;
            }
         }
         @media screen and (min-width: 992px) {
             margin-top: 13.7em;
             img {
                 width: 34em;
             }
         }
     }
     @media screen and (min-width: 768px) {
         height: 37.4625em;
         background: {
             position: 0 0, 0 0;
         }
     }
     @media screen and (min-width: 992px) {
         height: 100%;
     }
 }

 main {
     section#about-intro {
         padding-top   : 15em;
         padding-bottom: 8.5625em;
         background-color: $white;
         background: {
             image   : url('../img/emoji_background_detail.png');
             position: 0 0;
             repeat  : repeat;
         }
         h2 {
             @extend %section-heading-intro;
         }
     }

     section#features-intro {
         @extend %feature-content;
         h2 {
            @extend %section-heading-intro;
            @media screen and (min-width: 768px) {
                text-align: left;
                line-height: 1.8;
            }
         }
     }

    section.feature {
        @extend %feature-content;
     }

     section#feature-heading {
        @extend %feature-content;
        h2 {
            @extend %section-heading-intro;
            @media screen and (min-width: 768px) {
                line-height: 1.8;
            }
         }
     }

     section#app-reviews {
         position        : relative;
         padding-top     : 6.6625em;
         padding-bottom  : 4.5625em;
         margin-top      : 2.6625em;
         background: {
             image: linear-gradient(-45deg, #185A9D 0%, #43CEA2 100%);
         }

         h2 {
             @extend %section-heading-intro;
             color         : $gray;
             padding-bottom: 4.5625em;
         }

         div#user-reviews {
             padding    : 2em 0;
             white-space: nowrap;
             overflow-x : hidden;
             box-sizing : border-box;

             div.user-review {
                 width: 100%;
                 display: inline-block;

                 div.profile-picture {
                     position      : relative;
                     display       : inline-block;
                     vertical-align: top;
                     width         : 6.1375em;
                     height        : 6.1375em;
                     margin-right  : 2.125em;
                     border-radius : 50%;
                     z-index       : 1;
                     background: {
                         image   : url('../img/profile_pic_1.jpg');
                         position: 0 0;
                         size    : cover;
                     }
                     &:before, &:after {
                         position        : absolute;
                         display         : block;
                         content         : "";
                         width           : 100%;
                         height          : 100%;
                         top             : 0;
                         left            : 0;
                         opacity         : 0.25;
                         border-radius   : 50%;
                         background      : rgba(76,175,80,0.50);
                     }
                     &:before {
                        background-image: linear-gradient(-135deg, rgba(108,246,218,0.75) 0%, #176DA0 100%);
                        transform       : scale(1.3);
                        z-index         : -1;
                     }
                     &:after {
                        background-image: linear-gradient(-135deg, rgba(108,246,218,0.75) 0%, #176DA0 100%);
                        transform       : scale(1.1);
                        z-index         : 0;
                     }
                 }
                 div.user-info-wrap {
                     display       : inline-block;
                     position      : absolute;
                     top           : 50%;
                     transform     : translateY(-50%);
                     vertical-align: top;
                     text-align    : center;
                     h3 {
                         margin-bottom: 0.6875em;
                         font: {
                             family: $roboto;
                             size  : $font-xm-medium;
                             weight: $weight-bold;
                         }
                         color: $gray;
                     }
                     a {
                         position        : relative;
                         display         : inline-block;
                         width           : 1.675em;
                         height          : 1.675em;
                         color           : rgba(255, 255, 255, 0.67);
                         background-color: rgba(236, 239, 241, 0.15);
                         text-align      : center;
                         border-radius   : 50%;
                         &:nth-child(-n+3) {
                            margin-right: 0.6em;
                         }
                         svg {
                            vertical-align: middle;
                         }
                     }
                 }
                div.review-wrap {
                    margin-top: 3.95em;
                    p {
                        position: relative;
                        padding : 1.5625em;
                        font: {
                            family: $roboto;
                            size  : $font-xm-small;
                            weight: $weight-light;
                        }
                        background-color: rgba(236, 239, 241, 0.15);
                        color           : $gray;
                        &:before {
                            position  : absolute;
                            display   : block;
                            content   : '';
                            top       : -1.25em;
                            left      : -0.95em;
                            width     : 5.4375em;
                            height    : 4.8125em;
                            background: {
                                image   : url('../img/quote_icon.svg');
                                size    : contain;
                                position: 0 0;
                                repeat  : no-repeat;
                            }
                        }
                    }
                }
             }
         }

         div#nav-wrapper {
             text-align: right;
             margin-top: 2.625em;
             a {
                 font-size: 1.725em;
                 transition: all 0.2s ease-in;
                 &:nth-child(1) {
                    margin-right: 2.3125em;
                 }
                 &.inactive {
                     opacity: 0.5;
                     color  : rgba(0, 0, 0, 0.35);
                 }
                 &.active {
                     opacity: 0.5;
                     color  : rgb(255, 255, 255);
                 }
             }
         }
     }

     section#app-download {
         position        : relative;
         padding-top     : 7.5em;
         padding-bottom  : 7.5em;
         background-color: $white;
         &:before {
             position        : absolute;
             display         : block;
             width           : 100%;
             height          : 22.3333em;
             top             : 11.25em;
             left            : 0;
             content         : '';
             background-image: url(../img/emoji_background_detail.png);
         }
         div#download-btn-wrap {
             h1 {
                 @extend %section-heading-intro;
                 font: {
                     family: $roboto;
                     weight: $weight-normal;
                     size  : $font-md-medium;
                 }
                 text-transform: capitalize;
             }
             p {
                 font : {
                     family: $roboto;
                     weight: $weight-light;
                     size  : $font-xm-small;
                 }
                 color         : $blue-gray;
                 letter-spacing:  0.68px;
                 text-align    : center;
             }
             a {
                 margin-top: 4em;
                 display   : block;
                 text-align: center;
                 img {
                     width: 9.5em;
                 }
             }
             @media screen and (min-width: 768px) {
                 position      : absolute;
                 top           : 50%;
                 transform     : translateY(-50%);
                 h1, p, a {
                     text-align: left;
                 }
             }
             @media screen and (min-width: 992px) {
                 h1 {
                     font-size: $font-lg-large;
                 }
                 p {
                     font-size: $font-sm-small;
                 }
                 a {
                     img {
                         width: 10em;
                     }
                 }
             }
         }
         figure {
             margin: unset;
             img {
                margin-top: 6.25em;
                width     : 100%;
                height    : auto;
                @media screen and (min-width: 768px) {
                    margin-top: unset;
                }
             }
         }
         @media screen and (min-width: 768px) {
             &:before {
                height: 14.5333em;
                top: 10.15em;
             }
         }
         @media screen and (min-width: 992px) {
             &:before {
                 height: 17.7333em;
                 top: 14.75em;
             }
         }
     }
 }

 footer {
     margin: 4.25em 0;
     text-align: center;
     a {
         img {
             width: 3.5em;
         }
     }
     p {
         margin-top: 1.5625em;
         color     : $blue-gray;
         span.logo-name {
             font: {
                 family: $alef;
                 weight: $weight-bold;
             }
             text-transform: capitalize;
         }
     }
     nav {
         margin-bottom: 2.125em;
         a {
             display        : inline-block;
             font: {
                 family: $roboto;
                 size  : 0.825em;
                 weight: 600;
             }
             text-decoration: none;
             text-transform : uppercase;
             color          : $blue-gray;
             letter-spacing : 0.5px;
             &:hover {
                 text-decoration: none;
             }
             &:first-child {
                 margin-right: 1.56875em;
             }
         }
         ul {
             display: none;
         }
     }
 }
