
#
# ignored files in the repository
#

#
# CodeKit : General CodeKit files to ignore
#

config.codekit
config.codekit3
/min

#
# CodeKit : CodeKit Patch
#

*/codekit-config.json
.codekit-cache

#
# node : node_modules
#
node_modules/
