%menu-trigger {
    position        : relative;
    width           : 30px;
    height          : 30px;
    padding         : 0;
    cursor          : pointer;
    border          : none;
    text-align      : center;
    background-color: transparent;
    z-index         : 2;
    &:active,
    &:focus {
        outline: none;
    }
    span {
        position  : relative;
        display   : block;
        width     : 20px;
        transition: all 0.5s ease-in-out;
        &:before,
        &:after {
            position  : absolute;
            display   : inherit;
            content   : '';
            transition: all 0.5s ease-in-out;
        }
        &,
        &:before,
        &:after {
            height          : 3px;
            background-color: $white;
            border-radius   : 2px;
        }
        &:before {
            width: 30px;
            top  : -8px;
        }
        &:after {
            width : 15px;
            bottom: -8px;
        }
    }
    &[data-state='open'] {
        span {
            & {
                width           : 0;
                background-color: transparent;
            }
            &:before {
                transform: translateY(8px) rotate(45deg);
            }
            &:after {
                width    : 30px;
                transform: translateY(-8px) rotate(-45deg);
            }
        }
    }
    @media screen and (min-width: 768px) {
        display: none;
    }
}
