//
// Colors
//

$white : rgb(255, 255, 255);
$gray  : rgba(236, 239, 241, 0.9) ;

//
// Fonts
//

$roboto : 'Roboto', sans-serif;
$alef   : 'Alef', sans-serif;

//
// Font properties
//

// Weights
$weight-light  : 300;
$weight-normal : 400;
$weight-medium : 500;
$weight-bold   : 700;

// Font sizes
$font-xm-large: 1.875em;
$font-sm-large: 1.863em;
$font-lg-large: 2.563em;
